<h1>Search#index</h1>
<%= search_form_for @q, url: search_path, method: :get do |f| %>
  <%= f.search_field :title_cont, placeholder: "Search by title..." %>
  <%= f.submit "Search" %>
<% end %>

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="card mb-4">
            <div class="card-content">
                <div class ="media content">
                    <p class="title is-4"><%= link_to post.title,post %></p>
                </div>
            </div>
        </div>
  <% end %>
<% else %>
  <p>No posts found.</p>
<% end %>
